.table-cell {
  table-layout: fixed;
  font-size: 16px;
  vertical-align: middle;
}

.table-row {
  background-color: white;
}

.table-head {
  .table-cell {
    vertical-align: middle;
  }
  background-color: #95a5a6;
}
